{% extends "admin/index.html" %}
{# {% extends "rosetta/admin_index.html" %} #}

{% load rosetta i18n %}

{% block sidebar %}
{{block.super}}
{% if request.user|can_translate  %}
<div id="dtm-content-main">
  <div class="app-dtm module">
    <table>
      <caption>
          <a class="section" href="{% url 'dtm:list' %}">Django Translations Management</a>
      </caption>
      <tbody><tr>
          <th scope="row"><a href="{% url 'dtm:list' %}">{% trans "Application translations" %}</a></th>
          <td colspan="2"><a href="{% url 'dtm:list' %}" class="changelink">{% trans "Change" %}</a></td>
        </tr>
      </tbody></table>
  </div>
</div>
{% endif %}
{% endblock %}
